# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Project specific (Audio files)
*.mp3
*.wav
*.m4a

# Temp
tmp/

database.db
